<% provide(:title, '店舗一覧') %>

  <% @staffs.each do |f| %>
    <div class="col-md-12 my-3">
      <div class="row no-gutters">
        <div class="col-md-4 center">
          <%= image_tag 'sample_avator.png', height: "170px", class:"avator_image" %>
          <h5 class="card-title center" id="staff_name<%= f.id %>"><%= link_to "#{f.name}", staff_path(f.id), class:"text-body"%></h5>
        </div>  
        <div class="col-md-4 center">
        <%= image_tag 'sample_avator.png', height: "170px", class:"avator_image" %>
          <h5 class="card-title center" id="staff_name<%= f.id %>"><%= link_to "#{f.name}", staff_path(f.id), class:"text-body"%></h5>
        </div>
        <div class="col-md-4 center">
        <%= image_tag 'sample_avator.png', height: "170px", class:"avator_image" %>
          <h5 class="card-title center" id="staff_name<%= f.id %>"><%= link_to "#{f.name}", staff_path(f.id), class:"text-body"%></h5>
        </div>
      </div>
    </div>
  <% end %>
