<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body"> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>店舗登録</h1>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= form_for(@staff) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :img %>
            <%= f.file_field :img, id: :staff_img %>

            <%= f.label :name %>
            <%= f.text_field :name, class:"form-cotrol is-invalid"%>
            
            <%= f.label :email %>
            <%= f.email_field :email, class:"form-cotrol"%>

            <%= f.label :password %>
            <%= f.password_field :password, class:"form-cotrol" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:"form-cotrol" %>
            <%= f.hidden_field :status, :value => 2 %>

            <%= f.button :type => "submit", class: "btn btn-primary col-md-4 offset-md-4 mt-3" do %>
              <i class="fas fa-edit"></i>
              新規作成
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>