<% provide(:title, 'ユーザー作成') %>
<h1>ユーザー作成</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(@staff) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class:"form-cotrol is-invalid"%>
      
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-cotrol"%>

      <%= f.label :password %>
      <%= f.password_field :password, class:"form-cotrol" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"form-cotrol" %>

      <%= f.button :type => "submit", class: "btn btn-parimary col-md-4 offset-md-4 mt-3" do %>
        <i class="fas fa-edit"></i>
        新規作成
      <% end %>
    <% end %>
  </div>
</div>