<h1><%= @staff.name %></h1>
<div class="row">
  <% if @request.present? %> 
    <%= link_to "店舗から申請が#{@request.count}件有ります", staff_events_path(@staff), class:"notice blink mx-auto" %>
  <% end %>
</div>
<div class="row">
  <div class="mx-auto">
  <%= link_to "予定表へ", staff_events_path(@staff), class:"btn btn-primary mr-3" %>
    <% if current_staff.status == 1 && current_staff.id == @staff.id %>
      <%= link_to "日報ページへ", staff_reports_path(@staff), class:"btn btn-primary mr-3" %>
      <%= link_to "編集", edit_staff_path(@staff.id), remote: true, class:"btn btn btn-primary mr-3" %>
    <% end %>
  </div>
</div>

<% if @staff.status == 1 %>
<div class="row">
    <div class="col-md-12 my-3">
      <div class="row no-gutters">
        <div class="col-md-3 center my-auto">
          <%= image_tag 'sample_avator.png', height: "170px", class:"avator_image" %>
        </div>
        <div class="col-md-4 my-auto">
          <div class="card-body pt-2 pb-0 px-1">
            <div class="row">
              <div class="col-md-12">
              <h5 class="center">1日あたりの生産性(直近３ヶ月)</h5>
                <p class="card-title center" id="staff_name" style="display:none;" ><%= @staff.name %></p>
                <div class="report-list">
                  <table class="table table-bordered my-0">
                    <tbody>
                      <tr class="table-primary">
                        <td><%= Report.human_attribute_name(@report_column[0]) %></td>
                        <td><%= Report.human_attribute_name(@report_column[1]) %></td>
                        <td><%= Report.human_attribute_name(@report_column[3]) %></td>
                        <td><%= Report.human_attribute_name(@report_column[5]) %></td>
                      </tr>
                      <tr>
                        <td id="ftth<%= @staff.id %>"><%= average_column(@staff.id, :ftth)%></td>
                        <td id="tab_new<%= @staff.id %>"><%= average_column(@staff.id, :tab_new)%></td>
                        <td id="d_card_g<%= @staff.id %>"><%= average_column(@staff.id, :d_card_g)%></td>
                        <td id="sls<%= @staff.id %>"><%= average_column(@staff.id, :sls)%></td>
                      </tr>
                      <tr class="table-primary">
                        <td><%= Report.human_attribute_name(@report_column[6]) %></td>
                        <td><%= Report.human_attribute_name(@report_column[10]) %></td>
                        <td><%= Report.human_attribute_name(@report_column[11]) %></td>
                        <td>入店回数</td>
                      </tr>
                      <tr>
                        <td><%= average_column(@staff.id, :h4d)%></td>
                        <td id="mnp<%= @staff.id %>"><%= average_column(@staff.id, :mnp)%></td>
                        <td id="migraion<%= @staff.id %>"><%= average_column(@staff.id, :migration)%></td>
                        <td><%= total_work_days(@staff.id) %></td>
                      </tr>
                      <tr class="table-primary">
                        <td colspan="2">希望単価</td>
                        <td colspan="2">稼働予定(確定数/可能数)</td>
                      </tr>
                      <tr>
                        <td colspan="2">¥<%= @staff.price if @staff.price.presence %></td>
                        <td colspan="2">
                          <%= Date.today.strftime('%m') %>月：
                          <%= Date.today.next_month.strftime('%m') %>月：
                        </td>
                      </tr>
                      <tr class="table-primary">
                        <td colspan="4">レビュー</td>
                      </tr>
                      <tr>
                        <td colspan="4">★★★★☆</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <% #スタッフの平均値算出  %>
          <% staff_value = [] %>
          <% staff_value[0] = average_column(@staff.id, :ftth) %>
          <% staff_value[1] = average_column(@staff.id, :tab_new) %>
          <% staff_value[2] = average_column(@staff.id, :d_card_g) %>
          <% staff_value[3] = average_column(@staff.id, :sls) %>
          <% staff_value[4] = average_column(@staff.id, :mnp) %>
          <% staff_value[5] = average_column(@staff.id, :migration) %>
          <% @staff_value = staff_value %>
          <% @staff_name = @staff.name %>
          <% #全体の平均値算出  %>
          <% average_value = [] %>
          <% average_value[0] = average_value(:ftth) %>
          <% average_value[1] = average_value(:tab_new) %>
          <% average_value[2] = average_value(:d_card_g) %>
          <% average_value[3] = average_value(:sls) %>
          <% average_value[4] = average_value(:mnp) %>
          <% average_value[5] = average_value(:migration) %>
          <% @average_value = average_value %>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
</div>
<% end %>
<!--モーダル-->

<div id="edit_staff" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>
<script>
var ctx = document.getElementById("myChart");
var staff_name = document.getElementById("staff_name");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["光","タブ新規","GOLD","SLS","MNP","LTE移行"],
    datasets: [{
      label: staff_name.textContent,
      backgroundColor: "rgba(0,0,80,0.4)",
      borderColor: "rgba(0,0,80,1)",
      data: <%= @staff_value %>
    }, {
      label: '平均',
      backgroundColor: "rgba(0,255,0,0.4)",
      borderColor: "rgba(0,255,0,1)",
      data: <%= @average_value %>
    }]
  },

});
</script>
