<%= form_for(@event, url: staff_events_path, method: :post,local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6 offset-md-3">
    <%= form.label :shop_name %>
    <%= form.text_field :shop_name %>

    <%= form.label :work_type %>
    <%= form.text_field :work_type %>

    <%= form.label :start_date %>
    <%= form.datetime_field :start_date %>

    <%= form.label :end_date %>
    <%= form.datetime_field :end_date %>

    <%= form.hidden_field :staff_id, value: @staff.id %>

    <%= form.button :type => "submit", class: "btn btn-primary col-md-4 offset-md-4 mt-3" do %>
        <i class="fas fa-edit"></i>
        予定登録
      <% end %>
  </div>

<% end %>
