<p id="notice"><%= notice %></p>

<p>
  <strong>Shop name:</strong>
  <%= @event.shop_name %>
</p>

<p>
  <strong>Staff name:</strong>
  <%= @event.staff_name %>
</p>

<p>
  <strong>Work type:</strong>
  <%= @event.work_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<%= link_to 'Edit', edit_staff_event_path(@event.staff_id) %> |
<%= link_to 'Back', staff_events_path %>
<%= link_to 'destroy', staff_event_path(@event.staff_id), method: :delete %>
