<header>
  <!-- ナビゲーションバー全体 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Ad Match", root_path, id:"logo" %>
    <!-- スマホ用のハンバーガーメニュー -->
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarToogleContent" 
            aria-controls="navbarToogleContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToogleContent">
      <!-- ナビゲーションバー右 -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <% if logged_in?%>
          <li>
          <% if current_staff.status == 1 %>
            <%= link_to "Shops", staffs_path, class:"nav-link" %>
          <% else %>
            <%= link_to "Staffs", staffs_path, class:"nav-link" %>
          <% end %>
          </li>
          <li class="nav-item z">
            <%= link_to "Sign out", logout_path, method: :delete, class:"nav-link" %>
          </li>
          <li class="nav-item z">
            <%= link_to "My page", current_staff, class:"nav-link" %>
          </li>
          <li class="nav-item z">
            <%= link_to "Calendar", staff_events_path(current_staff.id), class:"nav-link" %>
          </li>
          <li class="nav-item z">
            <%= link_to "Report", staff_reports_path(current_staff.id), class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item z">
            <%= link_to "Sign in", login_path, class:"nav-link" %>
          </li>
          <li class="nav-item z">
            <%= link_to "Sign up", new_acount_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

</header>